<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- <form role="form" action="/create" th:action="@{/create}" th:object="${task}" method="post">
        <div class="form-group">
            <label class="control-label" for="inputText"><abbr title="required">*</abbr> Name</label>
            <input type="text" class="form-control" id="inputText" name="name" th:field="*{name}" />
            <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="help-block">error!</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputTextarea1">Content</label>
            <textarea rows="3" cols="80" class="form-control" id="inputTextarea" name="content"
                th:field="*{content}"></textarea>
            <span th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="help-block">error!</span>
        </div>
        <div class="form-group">
            <label class="control-label" for="inputDate">Deadline</label>
            <input type="text" class="form-control" id="inputDate" name="deadline" th:field="*{deadline}" />
            <span th:if="${#fields.hasErrors('deadline')}" th:errors="*{deadline}" class="help-block">error!</span>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form> -->

    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Content</th>
            <th>Deadline</th>
        </tr>
        <tr th:each="task : ${tasks}">
            <td th:text="${task.id}"></td>
            <td th:text="${task.name}"></td>
            <td th:text="${task.content}"></td>
            <td th:text="${task.deadline}"></td>
        </tr>
    </table>

</body>

</html>